.project-card {
  height: max-content;
  width: 90%;
  border-radius: 1rem;
  box-shadow: 0 5px 20px -5px rgb(191 192 192);
  margin: 1rem 0;
}

/* .project-card-img {
  display: flex;
  justify-content: center;
  padding: 1rem;
} */

/* image scroll on hover */
.pro {
  height: 30vh;
  margin: 1.2rem 0.7rem;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 14px;
  overflow: hidden;
}

.browser {
  height: 25px;
  display: flex;
  align-items: center;
  background-color: rgb(239 239 239);
  position: sticky;
  z-index: 2;
}

.circle1 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(155, 32, 32);
  margin: 3px;
}
.circle2 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(255, 153, 0);
  margin: 3px;
}
.circle3 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(48, 207, 48);
  margin: 3px;
}

.project-img {
  width: 100%;
  transition: all 10s ease;
}

.pro:hover .project-img {
  transform: translateY(-100%);
}

/* .project-card-img img {
  width: 19rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem;
} */

.project-card-body {
  padding: 0 1rem;
}

.project-card-actions {
  padding: 1rem;
}

.project-card-actions-btn-outline {
  padding: 0.5rem 0.6rem;
  margin: 0 5px;
  background: none;
  border: 1px solid var(--primary-color);
  color: #7a7a7a;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

.project-card-actions-btn-outline:hover {
  background-color: var(--primary-color);
  color: white;
}

.project-card-actions-btn {
  padding: 0.5rem 0.6rem;
  margin: 0 5px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

.project-card-actions-btn:hover {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 820px) {
  .project-card {
    width: 18rem;
  }
}
