.blog-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog-wrap {
  position: relative;
  margin: 1.3rem 0.5rem;
}

.blog-card {
  max-width: 17.5rem;
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary-two);
  transition: 0.3s;
  position: relative;
}

.blog-card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: 0.3s;
}

.blog-image {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.blog-image img {
  position: absolute;
  height: 105%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.title-sm {
  font-size: 1rem;
}

.blog-content {
  padding: 2.1rem 2.2rem 2.7rem 2.2rem;
}

.blog-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.blog-info h5 {
  color: var(--main-color);
  font-weight: 400;
  font-size: 1.05rem;
}

.blog-text {
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

.blog-card:hover {
  transform: translateY(-15px);
}

.blog-card:hover:after {
  height: 8px;
}

.blog-card:hover .blog-image img {
  transform: translate(-50%, -50%) scale(1.15);
}

.blog .points {
  top: 72%;
  right: 71%;
  opacity: 0.15;
}

.blog-btn {
  padding: 0.5rem 0.6rem;
  margin: 0.6rem 0;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}
