.header {
  margin-top: 9.5rem;
}

.hero-title {
  font-weight: 500;
  color: var(--dark-gray);
}

.hero-subTitle {
  margin: 1rem 0;
  font-weight: 500;
}

.hero-subTitle span {
  color: var(--primary-color);
}

.hero-text {
  font-size: 1.2rem;
}
