@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #784cfb;
  --secondary-color: #7b5ed3;
  --dark-gray: #9ca3af;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button,
select,
a {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
